<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
    body {
      background-color: rgb(214, 225, 234);
      font-family: 'Inter', sans-serif;
    }

    .navbar {
      width: 100%;
      background-color: #22196b;
      overflow: hidden;
    }

    .navbar a {
      float: left;
      text-align: center;
      padding: 20px;
      color: white;
      text-decoration: none;
      font-size: 20px;
      margin-left: 0 px 12px;
    }

    .navbar img {
      margin-top: 2px;
      margin-left: 12px;
      float: left;
      height: 60px;
      width: 140px;
    }


    .dropdown2 {
      float: right;
      margin-right: 30px;
      font-size: 20px;
    }


    .dropdown2 .dropbtn2 {
      font-size: 20px;
      border: none;
      outline: none;
      color: white;
      padding: 20px;
      background-color: inherit;
			font-family: 'Inter', sans-serif;
    }


    .navbar a:hover,
    .navbar p:hover,
    .dropdown2:hover .dropbtn2 {
      background-color: red;
    }

    .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      min-width: 146px;
      border: solid 1px;
    }

    .dropdown-content2 a {
      float: none;
      color: black;
      text-decoration: none;
      display: block;
      text-align: center;
      font-size: 20px;
      padding: 12px 16px;
    }


    .dropdown-content2 a:hover {
      background-color: #ddd;
    }

    .dropdown2:hover .dropdown-content2 {
      display: block;
    }
    .upper {
      background-color: rgb(232, 238, 240);
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      margin-top: 12px;
      overflow: hidden;
      min-height: 120px;
      max-height: 120px;
      padding: 10px;
    }

    .lower {
      background-color: rgb(232, 238, 240);
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      overflow: auto;
      margin: 20px;
      min-height: 310px;
      padding: 10px;
      width: 500px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }

    .upper h2 {
      text-align: center;
      color: black;
      margin-top: 10px;
      font-size: 20px;
    }

    #searchDateButton {
      padding: 7px;
      border: 2px solid #22196b;
      margin-top: 3px;
      font-size: 15px;
      background-color: #22196b;
      color: white;
      cursor: pointer;
    }

    #searchDate {
      border: 1.5px solid #22196b;
      padding: 7.8px;
      margin-top: 4px;
      align-items: center;
      font-size: 13px;
			font-family: 'Inter', sans-serif;
    }

    #logout {
       font-size: 15px;
      background-color: #22196b;
      color: white;
      cursor: pointer;
      margin-left: -30px;
    }
  </style>


</head>

<body>
  <div class="navbar">
    <img src="techAsia-LOGO_horizontal1028.png" alt="">
    <a href="http://localhost:3000/admin-dashboard"><i class="fa fa-fw fa-search"></i> Users Data</a>
    <a href="http://localhost:3000/admin-activity"><i class="fa fa-fw fa-calculator"></i> Activity</a>
    <a href="http://localhost:3000/register"><i class="fa fa-fw fa-users"></i> Add User</a>
    <div class="dropdown2">
      <button class="dropbtn2" id="activity2"><i class="fa fa-fw fa-user"></i> Admin
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content2">
        <a href="http://localhost:3000/admin-profile"> Profile</a>
        <a href="http://localhost:3000/admin-registration">New Admin</a>
        <a href="#">
          <form id="Profile" action="/logout" method="GET" enctype="text/plain">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="logout">Logout</button>
          </form>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="upper" align="center">
      <h2>Search According To Date</h2>
      <!-- <div class="input-group"> -->
      <form action="/admin-viewGraph" method="POST">
        <input type="date" id="searchDate" placeholder="Date" />
        <button type="submit" class="btn btn-primary" id="searchDateButton">
          <i class="fa fa-fw fa-search"></i>
        </button>
      </form>
      <!-- </div> -->
    </div>
    <div class="row" align="center">
      <% users.forEach(function(mac) { %>
        <div class="lower" >
          <canvas id="<%= mac.mac_id %>-chart" style="width: 50%; height: 50%;"
            data-chart-data='<%- JSON.stringify(data[users.indexOf(mac)]) %>'></canvas>
        </div>
        <% }); %>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var charts = document.querySelectorAll('canvas');
      charts.forEach(function (chart) {
        const chartData = JSON.parse(chart.getAttribute('data-chart-data'));
        const macId = chart.id.split('-')[0];
        var xValues = chartData.map(entry => entry.time);
        var yValues = chartData.map(entry => entry.on_off);

        new Chart(chart, {
          type: 'line',
          data: {
            labels: xValues,
            datasets: [{
              label: macId,
              data: yValues,
              backgroundColor: 'rgb(30, 30, 132)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }, {
              label: '<%-date%>'
            }]
          },
          options: {
            scales: {
              x: {
                beginAtZero: true
              },
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });
    });

    document.getElementById("searchDateButton").addEventListener("click", async function (event) {
      const newDate = document.getElementById("searchDate").value;
      fetch(`http://localhost:3000/setDate?newDate=${newDate}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then(response => response.json())
        .then(data => {
          console.log("Hulloo")
          console.log(data);
        })
        .catch(error => {
          console.log("Bubyee")

          console.error(error);
        });

    });

    const passwordInput = document.querySelector("#password")
    const eye = document.querySelector("#eye")
    eye.addEventListener("click", function () {
      this.classList.toggle("fa-eye-slash")
      const type = passwordInput.getAttribute("type") === "password" ? "text" : "password"
      passwordInput.setAttribute("type", type)
    });

  </script>
</body>

</html>